.container {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.box1 {
    padding-bottom: 20px;
    display: flex;
    flex: auto;
    flex-direction: column;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: auto;
    background-color: #1F2937;
}

.logo {
    margin-left: 100px;
    color:#F9FAF8;
    font-size: 24px;
}

ul {
    display: flex;
    flex: auto;

    color: #E5E7EB;
    font-size: 10px;

    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 14px;
    margin-right: 100px;
}

.box1.v2 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.box1.v2.h1 {
    margin-left: 100px;
    flex-direction: column;
    width: 340px;
    padding-right: 60px;
    align-items: flex-start;
}

.main-title {
    font-size: 36px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 0px;
}

.subtext {
    font-size: 12px;
    color: #E5E7EB;
}

.sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
    border-color: #F9FAF8;
    border-radius: 5px;
    height: 22px;
    width: 90px;
}

.box1.v2.h2 {
    background-color: #e5e7eb71;
    color: #E5E7EB;
    font: 9px;
    height: 60px;
    Width: 400px;;
    margin-right: 100px;
    text-align: center;
    align-items: center;
}

.source {
    justify-content: flex-end;
}

.box2 {
    margin: 0px;
    padding: 20px;
    flex: auto;
    padding-bottom: 72px;
}

.title {
    text-align: center;
    margin-bottom: 36px;
}

.display {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.pics {
    height: 84px;
    width: 84px;
    border-radius: 6px;
    border-width: 3px;
    border-style: solid;
    border-color: #3882F6;
}

.text {
    font-size: 10px;
    color: #1F2937;
    font-style: italic;
    text-align: center;
}

.info {
    width: 90px;
}

.box3 {
    padding: 100px;
    flex: auto;
    background-color: #E5E7EB;
}

.quote {
    font-size: 24px;
    font-weight: 10;
    font-style: italic;
    color: #1F2937;
}

.source {
    font-size: 14px;
    font-weight: 900;
    color: #1F2937;
    text-align: end;
}

.box4 {
    padding: 20px;
    flex: auto;
    justify-content: center;
}

.call-to-action {
    background-color: #3882F6;
    margin: 50px 100px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.box4.words {
    color: #F9FAF8;
    font-size: 12px;
    padding: 20px 90px;
}

.call {
    font-size: 18px;
    font-weight: 700;
}

.footer {
    background-color: #1F2937;
    padding: 10px;
}

.copyright {
    font-size: 10px;
    color: #E5E7EB;
    text-align: center;
}